---
import '../styles/global.css'
import {TitleHeader} from "../components/TitleHeader";
import {BodyComponent} from "../components/BodyComponent";
---

<div>
	<TitleHeader />
	<BodyComponent />
</div>